.circle__wiggle {
	animation-name: wiggle;
	animation-duration: var(--cycleMs);
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-direction: alternate;
}

@keyframes wiggle {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(1080deg);
	}
}
