.waves__wave {
	animation-name: wave;
	animation-duration: var(--cycleMs);
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
}

@keyframes wave {
	from {
		transform: translate(-50%, 0);
	}
	to {
		transform: translate(0, 0);
	}
}
